body {
    background-color: #c493ff;
    color: #212529;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;

    /* font-family: 'Roboto', sans-serif; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* height: 100vh; */
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 80px;
    padding-right: 15px;
}

.header {
    background-color: aquamarine;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.section {
    padding: 0.5rem 2rem 1rem 2rem;
}

.section:hover {
    background-color: #8ea5ff;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
}

/* button, input[type="submit"] {
    background-color: #d9edff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
} */


input[type="text"] {
    line-height: 1.8;
    width: 25%;
}

input[type="text"]:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}


button{
    /* same as background color, but background has more attributes */
    background: #1f2437;
    /* font color */
    color: #8ea5ff;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.25s;
}
button:hover {
    border-color: #c493ff;
    color: #c493ff;
    box-shadow: 0 0.5em 0.5em -0.4em #c493ff;
    transform: translateY(-0.25em);
}
.feedback {
    text-transform: uppercase;
    /* color: aquamarine; */
}
